
{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Registrations awaiting approval
{% endblock %}

{% block beforeContent %}
{# {{ govukBreadcrumbs({
  items: [
    {
      text: "Register a beacon",
      href: "/"
    },
    {
      text: "Vessel details"
    }
  ]
}) }} #}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Registrations awaiting approval</h1>
  </div>
  {# <div class="govuk-grid-column-one-third">
    {{ govukButton({
      text: "Bulk upload beacon details",
      href: "upload"
    }) }}
  </div> #}
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['sign-in-email-mca'] %}
      <p>Signed in as {{ data['sign-in-email-mca'] }}</p>
    {% endif %}

    {{ govukTable({
      firstCellIsHeader: true,
      captionClasses: "govuk-heading-m",
      head: [
        {
          text: "Hex ID"
        },
        {
          text: "Vessel type"
        },
        {
          text: "Vessel name"
        },
        {
          text: "Date registered"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            html: "<a href='#'>5613f1f9ffd7fc4</a>"
          },
          {
            text: "Merchant"
          },
          {
            text: "Bright Oleander"
          },
          {
            text: "10 Jun 2019"
          },
          {
            html: "<a href='#'>Review</a>"
          }
        ],
        [
          {
            html: "<a href='#'>bdf94173bfac4a5</a>"
          },
          {
            text: "Fishing"
          },
          {
            text: "Red Beech"
          },
          {
            text: "23 Jul 2019"
          },
          {
            html: "<a href='#'>Review</a>"
          }
        ],
        [
          {
            html: "<a href='#'>882e4073d6be734</a>"
          },
          {
            text: "Merchant"
          },
          {
            text: "Egremont Castle"
          },
          {
            text: "1 Aug 2019"
          },
          {
            html: "<a href='#'>Review</a>"
          }
        ],
        [
          {
            html: "<a href='#'>f7c7406fa35415f</a>"
          },
          {
            text: "Fishing"
          },
          {
            text: "The Good Hope"
          },
          {
            text: "16 Sept 2019"
          },
          {
            html: "<a href='#'>Review</a>"
          }
        ],
        [
          {
            html: "<a href='#'>dc04672d8b72abc</a>"
          },
          {
            text: "Fishing"
          },
          {
            text: "The Roebuck"
          },
          {
            text: "16 Sept 2019"
          },
          {
            html: "<a href='#'>Review</a>"
          }
        ],
        [
          {
            html: "<a href='#'>374f904652037ab</a>"
          },
          {
            text: "Fishing"
          },
          {
            text: "Edmundston"
          },
          {
            text: "16 Sept 2019"
          },
          {
            html: "<a href='#'>Review</a>"
          }
        ],
        [
          {
            html: "<a href='hoxton'>c600745a82d2883</a>"
          },
          {
            text: "Fishing"
          },
          {
            text: "The Hoxton"
          },
          {
            text: "16 Sept 2019"
          },
          {
            html: "<a href='beacon-mca'>Review</a>"
          }
        ]
      ]
    }) }}



  </div>

</div>
{% endblock %}