
{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Your beacons
{% endblock %}

{% block beforeContent %}
{# {{ govukBreadcrumbs({
  items: [
    {
      text: "Register a beacon",
      href: "/"
    },
    {
      text: "Vessel details"
    }
  ]
}) }} #}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your beacons</h1>
  </div>
  <div class="govuk-grid-column-one-third">
    {{ govukButton({
      text: "Bulk upload beacon details",
      href: "upload"
    }) }}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data['sign-in-email'] %}
      <p>Signed in as {{ data['sign-in-email'] }}</p>
    {% endif %}

    {{ govukTable({
      caption: "Beacons registered to Boat Company Ltd",
      captionClasses: "govuk-heading-m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Hex ID"
        },
        {
          text: "Vessel type"
        },
        {
          text: "Vessel name"
        },
        {
          text: "Date registered"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            html: "<a href='#'>5613f1f9ffd7fc4</a>"
          },
          {
            text: "Merchant"
          },
          {
            text: "Bright Oleander"
          },
          {
            text: "10 Jun 2019"
          },
          {
            html: "<a href='#'>View details</a>"
          }
        ],
        [
          {
            html: "<a href='#'>bdf94173bfac4a5</a>"
          },
          {
            text: "Fishing"
          },
          {
            text: "Red Beech"
          },
          {
            text: "23 Jul 2019"
          },
          {
            html: "<a href='#'>View details</a>"
          }
        ],
        [
          {
            html: "<a href='#'>882e4073d6be734</a>"
          },
          {
            text: "Merchant"
          },
          {
            text: "Egremont Castle"
          },
          {
            text: "1 Aug 2019"
          },
          {
            html: "<a href='#'>View details</a>"
          }
        ]
      ]
    }) }}



  </div>

</div>
{% endblock %}