
{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  MCA Beacons: alpha recommendations
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">MCA Beacons: alpha recommendations</h1>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="register">Public user journey: Register a beacon</a></li>
      <li><a class="govuk-link" href="sign-in-public">Public user journey: View your beacons</a></li>
      <li><a class="govuk-link" href="sign-in-mca">MCA team journey: Review registrations</a></li>
    </ul>

  </div>

</div>
{% endblock %}