
{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block pageTitle %}
  Bulk upload beacons
{% endblock %}

{% block beforeContent %}
{# {{ govukBreadcrumbs({
  items: [
    {
      text: "Register a beacon",
      href: "/"
    },
    {
      text: "Vessel details"
    }
  ]
}) }} #}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Bulk upload beacons</h1>

    <form action="beacons-list-uploaded" method="post" class="form">


      {{ govukFileUpload({
        id: "file-upload-1",
        name: "file-upload-1",
        label: {
          text: "Upload a CSV of your beacons"
        }
      }) }}

      {{ govukButton({
        text: "Upload your CSV file"
      }) }}

    </form>



  </div>

</div>
{% endblock %}